
header {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    text-align: center; /* Center-align the text */
    padding: 20px; /* Add padding around the content */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
    margin: 0;
    font-size: 2.2rem; /* Larger font size for the heading */
}
header p {
    font-size: 1.2rem; /* Slightly larger font size for the paragraph */
}
nav{
    background-color: #91c615;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
section h2{
    background-color: rgb(14, 191, 94);
    margin: 0;
    padding: 0;
}
section2 h3{
    
    margin: 0;
    padding: 0;
}


